* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

input:focus {
    outline: none;
    border: 2px solid #3898ec;
}

textarea:focus {
    outline: none;
    border: 2px solid #3898ec;
}


/* Navigation Bar */

.navbar {
    background-color: #00968b;
    color: #fff;
}

.navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 3rem;
    cursor: pointer;
}

.navbar-item a {
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-item i {
    font-size: 1.6rem;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background-color: #1aa197;
    margin-bottom: 5px;
}

.navbar-item.logout {
    margin-left: auto;
}

.navbar-item:not(:last-child) {
    margin-right: 10px;
}

.navbar-item:hover {
    background-color: #ef5e4a;
    border-bottom: 5px solid #1aa197;
    scale: 1.15;
}

.navbar-item:hover i {
    background-color: #ef5e4a;
}


/* Contact Info */


.contactUs {
    margin: 2rem 0 1rem 1rem;
    color: #00968b;
    border-left: 3px solid #ef5e4a;
    padding-left: 0.5rem;
}

.contactInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.contactInfo div {
    margin: 2rem 0 0 1.3rem;
}

.contactInfo .fa-solid {
    color: #ef5e4a;
    font-size: 1.6rem;
    border: 2px solid #04b7ab;
    padding: 0.8rem;
}

.contactInfo div h5 {
    color: #00968b;
}

.contactInfo div p {
    margin-right: 13.5rem;
}


/* Form */

form {
    margin-bottom: 7rem;
}

.form-box {
    margin-left: 1rem;
}

.form-box .input-box {
    padding-bottom: 1.2rem;
}

.form-box label,
.form-box input {
    display: inline-block;
}

.form-box label {
    color: #00968b;
    font-size: 1em;
    font-family: serif;
    pointer-events: none;
    width: 6.1rem;
    text-align: left;
}

.input-box input {
    height: 1.9rem;
    width: 35%;
    padding-left: 0.8rem;
}

form #Message {
    padding-left: 0.4rem;
    margin-left: 6.3rem;
}

.form-box button {
    background-color: #ef5e4a;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    color: #fff;
    padding: 0.4rem 2.2rem 0.4rem 2.2rem;
    border: none;
    cursor: pointer;
}


/* Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 7rem;
    padding: 2%;
    text-align: center;
    background-color: #00968b;
    color: #fff;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: #ef5e4a;
}

.about {
    margin-right: 0.3rem;
    border-right: 1px solid #fff;
}


/* Media Queries */

@media only screen and (max-width: 768px) {
    .navbar-list {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .navbar-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .navbar-item {
        flex: 0 0 50%;
    }

    .navbar-item.logout {
        position: fixed;
        top: 0;
        right: 0;
        padding: 10px 15px;
        border-radius: 5px;
    }
    
    .contactInfo .fa-solid {
        font-size: 1.2rem;
    }

    .contactInfo div {
        width: 100%;
    }

    .contactUs {
        font-size: 1.2rem;
    }
    
    form .input-box label {
        font-size: 0.8rem;
    }

    form .input-box textarea {
        width: 90%;
        font-size: 0.9rem;
    }

    form #Message {
        padding-left: 0;
        margin-left: 0;
    }

    form .input-box input {
        width: 90%;
        font-size: 0.9rem;
    }

    form button {
        font-size: 0.9rem;
        padding: 0.3rem 1.5rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar-list {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .navbar-item:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 20px;
    }

    .navbar-item {
        flex: 0 0 calc(33.33% - 30px);
    }
}

@media only screen and (max-width: 1280px) {
    .contactInfo div {
        width: 50%;
    }

    .contactUs {
        font-size: 1.2rem;
    }

    form .input-box textarea {
        width: 90%;
        font-size: 0.9rem;
    }

    form #Message {
        padding-left: 0;
        margin-left: 0;
    }
}